{% extends 'base.html.twig' %}
{% block body %}
	{% if pages %}
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Operations</th>
				</tr>
			</thead>
			<tbody>
			{% for page in pages %}
				<tr>
					<td>{{ page.id }}</td>
					<td>{{ page.title }}</td>
					<td>
						<a href="{{ path('admin_set_homepage', {id: page.id}) }}">Set as homepage</a>
						<a href="{{ path('page_show', {id: page.id}) }}">Show</a>
						<a href="{{ path('post_remove', {id: page.id}) }}">Delete</a>
						<a href="{{ path('post_edit', {id: page.id}) }}">Edit</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There's nothing to display</p>
	{% endif %}
{% endblock %}