{% extends 'base.html.twig' %}
{% block body %}
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Email</th>
				<th>Role</th>
				<th>Registered</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{user.id}}</td>
				<td><a href="{{ path('user_show', {'name': user.username}) }}">{{user.username}}</a></td>
				<td>{{user.email}}</td>
				<td>{{user.role.name}}</td>
				<td>{{user.createdAt|date('d.m.y | H:i')}}</td>
				<td>
					<a href="{{ path('user_edit', {name: user.username}) }}">Edit</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}